@media screen and (max-width: 375px) {
  .home {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .section-right {
    align-items: center;
  }
  .sign-up {
    padding: 20px 23px;
    width: 90%;
  }
  .free-trial-msg {
    width: 90%;
  }
}
