@import url("https://fonts.google.com/specimen/Josefin+Sans");



/* @media only screen and (min-width: 1200px) { */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 36%, 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contents {
  display: flex;
  justify-content: center;
  width: 1300px;
}
.section-left {
  width: 53%;
  padding: 120px;
  background-image: url("C:/Users/wnsqj/projects/frontend-mentor/base-apparel-coming-soon-master/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
}
.section-right {
  width: 47%;        
  padding: 120px;
  background-image: url("C:/Users/wnsqj/projects/frontend-mentor/base-apparel-coming-soon-master/images/hero-desktop.jpg");  
  background-repeat: no-repeat;  
}
.launch-date {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
.launch__date-upper {
  font-weight: 200;
  margin-bottom: 0;
  
}
.launch__date-lower {
  color: hsl(0, 6%, 24%);
  font-weight: 600;
  margin-top: 0;
}
#page-intro {
  line-height: 160%;
}
.send-email {        
  margin-top: 30px;
  display: flex;
}
input {
  border-radius: 30px;
  padding: 0px 25px;
  height: 45px;
  border:  1px solid hsl(0, 36%, 70%);
  box-sizing: border-box;
  color: hsl(0, 36%, 70%);
  width: 65%;

}
input:focus {
  outline: none;
}
input::placeholder {
  color: hsl(0, 36%, 70%, 0.60);
}
.send-btn {        
  border-radius: 32px;
  padding: 0px 25px;
  width: 80px;
  color: hsl(0, 100%, 98%);        
  height: 45px;
  position: relative;
  left: -45px;
  box-sizing: border-box;
  background :linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 13px 23px -10px rgba(206,151,151,1);
  -moz-box-shadow: 0px 13px 23px -10px rgba(206,151,151,1);
  box-shadow: 0px 13px 23px -10px rgba(206,151,151,1);
}
.send-btn:hover {        
  background :linear-gradient(135deg, hsl(0, 100%, 98%), hsl(0, 80%, 86%));       
}
.send-btn:focus {
  outline: none;
}
.error {
  border: 1px solid rgb(218, 0, 0);
}
.error-msg {
  color: rgb(218, 0, 0);
  margin-left: 25px;
  display: none;
}
.error-icon {
  position: relative;
  left: -75px;
  top: 12.5px;
  height: 20px;
  display: none;
  width: 20px;
  height: 20px;
}
/* } */
