@import '../styles.scss';

header {
  height: 50px;
  .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 0.6rem;
      letter-spacing: 2px;
      ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          text-transform: uppercase;
          margin-right: 30px;
          &:hover {
            color: $soft-red;
          }
        }
      }
      .custom-button {
        text-transform: uppercase;
        background-color: $soft-red;
        border: 2px solid $soft-red;
        color: white;
        border-radius: 5px;
        margin-right: 30px;
        padding: 6px 23px;
        letter-spacing: 2px;
        box-shadow: 0px 5px 5px rgba(194, 194, 194, 0.418);
        transition: .15s ease-in-out;
        &:hover {
          background-color: transparent;
          color: $soft-red;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}